@model ConsultaMedica.Models.SelectConsultingRoomViewModel
@{
    ViewBag.Title = "Select consulting room";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SelectConsultingRoom", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.DisplayNameFor(x => x.Id)
        @Html.DropDownListFor(x => x.Id, ((List<SelectListItem>)ViewBag.ConsultingRooms), new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Id)
    </div>

    <button type="submit" class="btn btn-default">Seleccionar</button>
}

